<% layout('layout/boilerplate.ejs') %>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<div class="bg-light py-4">
    <div class="container">
        <div class="card shadow-lg rounded-lg p-4">
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card shadow-sm p-4 text-center">
                        <img src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-cartoon-color-simple-male-avatar-png-image_5230557.jpg" alt="Avatar" class="rounded-circle mx-auto d-block" width="80" height="80">
                        <h2 class="fw-bold mt-3"><%= user.username %></h2>
                        <p class="text-muted">Jaipur ,Rajasthan, India </p>
                        <div class="d-flex justify-content-center gap-4 my-3">
                            <div>
                                <p class="fs-5 fw-semibold mb-0">263</p>
                                <p class="text-muted small">Regular Customers</p>
                            </div>
                            <div>
                                <p class="fs-5 fw-semibold mb-0">300</p>
                                <p class="text-muted small">Restaurant Reviews</p>
                            </div>
                        </div>
                        <button class="btn btn-danger">Try Our Restaurant</button>
                        <hr>
                        <h5 class="fw-semibold">About Me</h5>
                        <p class="text-muted small">Description</p>
                        <p class="small"><strong>Mobile:</strong> 06533442252</p>
                        <p class="small"><strong>Email:</strong><%= user.email %></p>
                        <div class="mt-3">
                            <i class="fab fa-facebook fa-lg mx-1"></i>
                            <i class="fab fa-twitter fa-lg mx-1"></i>
                            <i class="fab fa-youtube fa-lg mx-1"></i>
                            <i class="fab fa-google fa-lg mx-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card shadow-sm p-4">
                        <div class="mb-3 border-bottom pb-2">
                            <h2>Food Oders :</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
