<% layout('layout/boilerplate') %>
<div class="about">
    <div class="about-container">
        <div class="about-content">
            <h2 class="about-heading">About Us</h2>
            <p class="about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis
                pharetra adipiscing ultrices.
            </p>
            <button class="about-button">Know More</button>
        </div>
        
        <div class="about-image">
            <img src="/assets/" alt="Knife">
        </div>

        <div class="about-content">
            <h2 class="about-heading">Our History</h2>
            <p class="about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed
                odio nec aliquet eu proin mauris.
            </p>
            <button class="about-button">Know More</button>
        </div>
    </div>
</div>