<% layout('layout/boilerplate.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/priceTag.css">
<body>
  <main>
    <section class="hero | text-center-sm-only padding-block-900">
      <div class="container">
        <div class="even-columns">
          <div class="flow">
            <h1 class="fs-primary-heading fw-bold">
              Make Your Restaurant Stand Out
            </h1>
            <p>
              Dynamic menu makes it simple for restaurants to plan day-to-day
              menu while also changing the menu accordingly in just
              <span style="font-weight: bold; color: orangered;">30
                seconds</span>.
            </p>
            <a href="/chooselogin"><button class="button">Get
                Started</button></a>
          </div>
          <div class="hero__image">

            <div id="carouselExampleSlidesOnly" class="carousel slide"
              data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/poster1.jpg" class="d-block w-100"
                    alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/assets/poster2.jpg" class="d-block w-100"
                    alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/assets/poster3.jpg" class="d-block w-100"
                    alt="...">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="sales-points | padding-block-900">
      <div class="container">
        <div class="even-columns">
          <div
            class="sales-points__blog | flow text-center-sm-only margin-bottom-700"
            style="--flow-spacer: 1.5rem">
            <h2 class="fs-secondary-heading fw-bold">
              What's different about AHAAR?
            </h2>
            <p>
              AHAAR provides all the functionality your team needs, without
              the complexity. Our software is tailor-made for modern digital
              product teams.
            </p>
          </div>
          <div>
            <ul class="numbered-items | flow" role="list">
              <li>
                <div class="flow" style="--flow-spacer: 1em">
                  <h3 class="numbered-items__title | fs-600 fw-bold">
                    Dynamic menus
                  </h3>
                  <p class="numbered-items__body" data-width="wide">
                    Dynamic menus allow restaurant owners to update dishes,
                    prices, and details in real-time with easy customization and
                    QR code integration.
                  </p>
                </div>
              </li>
              <li>
                <div class="flow" style="--flow-spacer: 1em">
                  <h3 class="numbered-items__title | fs-600 fw-bold">
                    Catering Feasibility
                  </h3>
                  <p class="numbered-items__body" data-width="wide">
                    Dynamic menus enable hassle-free table booking and seamless
                    payments directly from the customer’s seat
                  </p>
                </div>
              </li>
              <li>
                <div class="flow" style="--flow-spacer: 1em">
                  <h3 class="numbered-items__title | fs-600 fw-bold">
                    Real-time sentiment tracking, AI-bot
                  </h3>
                  <p class="numbered-items__body" data-width="wide">
                    Dynamic menus let vendors manage updates easily while
                    customers get instant support through an AI bot.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="Price-container">
      <div class="card">
        <img src="/assets/PriceTag1.jpg" alt="Image 1">
        <h2>Free Plan</h2>
        <button>View More</button>
      </div>

      <div class="card popular">
        <img src="/assets/PriceTag2.jpg" alt="Image 2">
        <h2>Popular Plan</h2>
        <button>View More</button>
      </div>

      <div class="card">
        <img src="/assets/PriceTag3.jpg" alt="Image 3">
        <h2>Most Cost Effeicent</h2>
        <button>View More</button>
      </div>
    </div>

    <section class="carousel | padding-block-900 text-center">
      <h2 class="fs-secondary-heading fw-bold">What they've said</h2>
      <!-- Carousel here -->
      <div class="slider-container">
        <ul class="slider">
          <li>
            <img src="images/avatar-anisha.png" alt />
            <div class="slider-content | flow">
              <h3 class="fw-bold">Anisha Li</h3>
              <p>“Manage has supercharged our team’s workflow...”</p>
            </div>
          </li>
          <li>
            <img src="images/avatar-ali.png" alt />
            <div class="slider-content | flow">
              <h3 class="fw-bold">Ali Bravo</h3>
              <p>“We have been able to cancel so many other
                subscriptions...”</p>
            </div>
          </li>
          <li>
            <img src="images/avatar-richard.png" alt />
            <div class="slider-content | flow">
              <h3 class="fw-bold">Richard Watts</h3>
              <p>“Manage allows us to provide structure and process...”</p>
            </div>
          </li>
          <li>
            <img src="images/avatar-shanai.png" alt />
            <div class="slider-content | flow">
              <h3 class="fw-bold">Shanai Gough</h3>
              <p>“Their software allows us to track, manage and
                collaborate...”</p>
            </div>
          </li>
        </ul>
      </div>
      <button class="button">Get Started</button>
    </section>

    <section
      class="cta | margin-top-900 padding-block-900 bg-accent-400 text-neutral-100">
      <div class="container">
        <div class="even-columns vertical-align-center">
          <div>
            <p class="fs-primary-heading fw-bold">
              Simplify how Our AHHAR works
            </p>
          </div>
          <div class="justify-self-end-md">
            <button class="button" data-type="inverted">Get Started</button>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>