<footer class="footer sticky-bottom mt-auto py-4">
    <div class="container text-center text-light">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>9 W 53rd St, New York, NY 10019, USA</p>
                <p>+1 212-344-1230</p>
                <p>+1 212-555-1230</p>
            </div>
            <div class="col-md-4">
                <img src="/assets/logo.png" alt="AHAAR" class="footer-brand" style="height: 50px;">
                <p>"The Best Way To Find Yourself Is To<br> Lose Yourself In The Service Of Others."</p>
                <div class="footer-divider"></div>
                <div class="social-icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Working Hours</h5>
                <p>Monday-Friday:<br>08:00 AM - 12:00 AM</p>
                <p>Saturday-Sunday:<br>07:00 AM - 11:00 PM</p>
            </div>
        </div>
        <hr class="footer-line">
        <p class="footer-text">2025 AHAAR 🤝 Nothingmuch. All Rights Reserved.</p>
    </div>
</footer>