<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <!-- Toggler button for small screens -->
        <button class="navbar-toggler d-lg-none" type="button" id="menuToggle">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand Logo (Visible only on large screens) -->
        <a class="navbar-brand d-none d-lg-block" href="#">
            <img src="/assets/logo.png" alt="Logo" style="height: 50px;">
        </a>

        <!-- Sidebar Menu (Only Visible on Small Screens) -->
        <div class="sidebar-nav" id="sidebarMenu">
            <!-- Logo inside sidebar (Only visible on small screens) -->
            <img src="/assets/logo.png" alt="Logo" class="sidebar-logo">

            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/restaurant">Restaurants</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/fnr">FNR</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/about">About</a></li>
            </ul>
        </div>

        <!-- Main Navbar (Visible on Large Screens) -->
        <div
            class="collapse navbar-collapse justify-content-center d-none d-lg-flex"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/restaurant">Restaurants</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/fnr">FNR</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link"
                        href="/about">About</a></li>
            </ul>
        </div>

        <!-- User Profile / Sign In -->
        <% if(!currUser) { %>
        <span class="nav-item ms-auto">
            <a class="btn btn-custom" href="/user/login">Sign Up / Sign In</a>
        </span>
        <% } else { %>
        <div class="profile-dropdown ms-auto">
            <img src="<%= currUser.profilePic || '/assets/default-user.png' %>"
                alt="Profile" id="profile-icon">
            <ul class="dropdown-menu" id="dropdown-menu">
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="/menu">Dynamic Menu</a></li>
                <li><a href="/user/settings">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="text-danger" href="/user/logout">Logout</a></li>
            </ul>
        </div>
        <% } %>
    </div>
</nav>